.game-room {
    position:absolute;
    width: 100vw;
    height: 100vh; /*  calc(100vh - 50px); Subtract the height of the heading */
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    overflow: hidden;         /* Prevent any overflow */
    
    background-image: url('../images/BackgroundZoomOut.png');
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #2e22b2;

    
}   

/* Responsive rectangular game board container with a 4:3 aspect ratio */
.game-board-container {
    /* width: 50vw;  
    height: 45vh;  */


    border: 1px solid blueviolet;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    opacity: 0.8;

}

.game-board-img{
    width: 60vw;
    height: auto;

}

.game-board{
    position:absolute;
}

.user-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 5%;
    width: 100vw;
}

.player{
    width: 100%;
    padding-right: 15em;
    padding-left: 15em;
    box-sizing: border-box;

}


.player-buttons-container{
    box-sizing: border-box; /*la width va jusqu'à la bordure et inclue le padding*/
    position: absolute;
    height: 6em; /*same as card size */
    top:0;
    right: 0;
    width: 15em;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.player-buttons-container>*{
    width: 70%;
    /* padding: 0.3em; */
}

.player-action-button{
    height: 2em;
}


/* CARDS */
.player-cards-bottom {
    display: flex;
    width: 100%;
    justify-content: center;
}

.card {
    overflow: hidden;
}

.card:last-child, .card:hover {
    overflow: visible;
}


/* Card images - upsized and overlapping */
.card-img {

    width: auto;
    min-width: 2em;
    height: 6em; 

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
       
}

/* Bottom player cards (current user) - face up and rotated 90 degrees */
/* .bottom-card {
    transform: rotate(90deg);
} */

/* Top player cards - face down and rotated 90 degrees */
.top-card {
    margin-right: -30px;
    transform: rotate(270deg);
}

/* Right player cards - face down and rotated 0 degrees (normal) */
.right-card {
    margin-top: -10px;
    transform: rotate(0deg);  /* No rotation needed */
}

/* Left player cards - face down and rotated 180 degrees */
.left-card {
    margin-top: -10px;
    transform: rotate(180deg);  /* Flipped */
}

.right-cards,
.left-cards {
    flex-direction: column;
    align-items: center;
}

.selected {
    translate: 0 -20px;  /* Move the selected card upwards */
}